In [16]:
import pandas as pd

In [17]:
fire = pd.read_csv("new_fire.csv")

In [18]:
fire.size

18804650

In [19]:
fire.head()

,Unnamed: 0,LATITUDE,LONGITUDE,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,FIRE_SIZE_CLASS,STATE
0,0,40.036944,-121.005833,2005,2453403.5,33,1300.0,9.0,A,CA
1,1,38.933056,-120.404444,2004,2453137.5,133,845.0,1.0,A,CA
2,2,38.984167,-120.735556,2004,2453156.5,152,1921.0,5.0,A,CA
3,3,38.559167,-119.913333,2004,2453184.5,180,1600.0,1.0,A,CA
4,4,38.559167,-119.933056,2004,2453184.5,180,1600.0,1.0,A,CA

In [20]:
fire.columns

Index(['Unnamed: 0', 'LATITUDE', 'LONGITUDE', 'FIRE_YEAR', 'DISCOVERY_DATE',
       'DISCOVERY_DOY', 'DISCOVERY_TIME', 'STAT_CAUSE_CODE', 'FIRE_SIZE_CLASS',
       'STATE'],
      dtype='object')

In [21]:
fire = fire.loc[fire['STATE'] == 'CA']

In [22]:
fire = fire.drop(['STATE'], axis=1)

In [23]:
fire.head()

,Unnamed: 0,LATITUDE,LONGITUDE,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,FIRE_SIZE_CLASS
0,0,40.036944,-121.005833,2005,2453403.5,33,1300.0,9.0,A
1,1,38.933056,-120.404444,2004,2453137.5,133,845.0,1.0,A
2,2,38.984167,-120.735556,2004,2453156.5,152,1921.0,5.0,A
3,3,38.559167,-119.913333,2004,2453184.5,180,1600.0,1.0,A
4,4,38.559167,-119.933056,2004,2453184.5,180,1600.0,1.0,A

In [24]:
fires = pd.get_dummies(fire)

In [25]:
fires.head()

,Unnamed: 0,LATITUDE,LONGITUDE,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,FIRE_SIZE_CLASS_A,FIRE_SIZE_CLASS_B,FIRE_SIZE_CLASS_C,FIRE_SIZE_CLASS_D,FIRE_SIZE_CLASS_E,FIRE_SIZE_CLASS_F,FIRE_SIZE_CLASS_G
0,0,40.036944,-121.005833,2005,2453403.5,33,1300.0,9.0,1,0,0,0,0,0,0
1,1,38.933056,-120.404444,2004,2453137.5,133,845.0,1.0,1,0,0,0,0,0,0
2,2,38.984167,-120.735556,2004,2453156.5,152,1921.0,5.0,1,0,0,0,0,0,0
3,3,38.559167,-119.913333,2004,2453184.5,180,1600.0,1.0,1,0,0,0,0,0,0
4,4,38.559167,-119.933056,2004,2453184.5,180,1600.0,1.0,1,0,0,0,0,0,0

In [26]:
fires = fires.drop(['Unnamed: 0'], axis=1)

In [27]:
fires.head()

,LATITUDE,LONGITUDE,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,DISCOVERY_TIME,STAT_CAUSE_CODE,FIRE_SIZE_CLASS_A,FIRE_SIZE_CLASS_B,FIRE_SIZE_CLASS_C,FIRE_SIZE_CLASS_D,FIRE_SIZE_CLASS_E,FIRE_SIZE_CLASS_F,FIRE_SIZE_CLASS_G
0,40.036944,-121.005833,2005,2453403.5,33,1300.0,9.0,1,0,0,0,0,0,0
1,38.933056,-120.404444,2004,2453137.5,133,845.0,1.0,1,0,0,0,0,0,0
2,38.984167,-120.735556,2004,2453156.5,152,1921.0,5.0,1,0,0,0,0,0,0
3,38.559167,-119.913333,2004,2453184.5,180,1600.0,1.0,1,0,0,0,0,0,0
4,38.559167,-119.933056,2004,2453184.5,180,1600.0,1.0,1,0,0,0,0,0,0